.headings {
  font-family: $font__family--main;
  color: $color--light-text;

  &--biggest {
    font-size: $font__size--headings-biggest;
    line-height: 60px;
    letter-spacing: -0.84px;
    font-weight: 700;
  }
  &--bigger {
    font-size: $font__size--headings-bigger;
    line-height: 44px;
    font-weight: 600;
  }
  &--big {
    font-size: $font__size--headings-big;
    line-height: 28px;
    letter-spacing: -0.525px;
    font-weight: 300;
  }
  &--little {
    font-size: $font__size--headings-little;
    line-height: 24px;
    letter-spacing: -0.285px;
    font-weight: 300;
  }
  &--less {
    font-size: $font__size--headings-less;
    line-height: 20px;
    letter-spacing: -0.24px;
    font-weight: 300;
  }
  &--least {
    font-size: $font__size--headings-least;
    line-height: 16px;
    font-weight: 300;
  }
  &--extrasmall {
    font-size: $font__size--headings-extrasmall;
    line-height: 12px;
  }
  &--dark {
    color: $color--dark-text;
  }
  &--darker {
    color: $color--darker-text;
  }
  &--opacity {
    opacity: 0.7;
  }
  &--heavy {
    font-weight: 600;
  }
}
