@mixin background($imgpath,$position:0 0,$repeat: no-repeat,$color:black,$size:cover) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        color: $color;
        size: $size;
    }
}

@include background('images/1_mobile.png');