.modelbox {
  display: grid;
  background-color: #008000;
  grid-area: 4/3/5/5;
}

@media (min-width: 481px) {
  .modelbox {
    background-color: #008000;
    grid-area: 3/2/4/3;
    }
  }

@media (min-width: 1025px) {
  .modelbox {
    background-color: #008000;
    grid-area: 2/4/3/5; 
    }
  }