$font__family--main: 'Roboto', sans-serif;

$font__size--less-text: 14px;
$font__size--text: 15px;
$font__size--heading: 32px;
$font__size--subheading: 20px;
$font__size--logo: 40px;
$font__size--date: 60px;
$font__size--less-text: 10px;

$font__size--headings-biggest: 56px;
$font__size--headings-bigger: 35px;
$font__size--headings-big: 22px;
$font__size--headings-little: 19px;
$font__size--headings-less: 16px;
$font__size--headings-least: 14px;

$color--light-text: #ffffff;
$color--dark-text: #000000;
$color--darker-text: #333333; 

$color--primary: #bb0a30;
$color--light: #FFFFFF;
$color--darker: #f2f2f2;

